[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"

[[edge_functions]]
path = "/edge/didi-nerve"
function = "didi-nerve"



